body{
    background-color: black;
    color: #ffc772;
    position: relative;
}
.png1{
    display:flex;
    justify-content: center;
    align-items: center;
}

    .pergunta1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    }

.respostasim{
    
    
    
    font-family: sans-serif;
    position: absolute;
    left: 55%;



}

.respostasim button {
    width: 100px;
    height: 50px;
    background-color: black;
    color: #ffc772;
    border:solid 2px #ffc772  ;
    border-radius: 12px;
}

.respostanao{
    position: absolute;
    left: 40%;
font-family: sans-serif;

}
.respostanao button {
    width: 100px;
    height: 50px;
    background-color: black;
    color: #ffc772;
    border:solid 2px #ffc772  ;
    border-radius: 12px;
    transition: all 0.3s ease-in;
}

.respostanao button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #ffc772, 0 0 20px #ffc772, 0 0 30px #ffc772; 
}

.respostasim button:hover{
     cursor: pointer;
    box-shadow: 0 0 10px #ffc772, 0 0 20px #ffc772, 0 0 30px #ffc772; 
}


